# Environment
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# Data & secrets
*.csv
*.parquet
*.log

# Jupyter
.ipynb_checkpoints/

# Docker
*.tar

# OS
.DS_Store
Thumbs.db
